html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial;
  font-size: 10px;
  background-color: rgb(238, 246, 248);
}

body, main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* контейнер с панелью */
.top-navigation {
  background-color: #badaef;
  overflow: hidden;
  display: flex;
}

/*ссылки на панели*/
.top-navigation a {
  float: left;
  color: #0f1622;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 16px;
}

.top-navigation a:hover {
  background-color: #ddd;
  color: black;
}

.top-navigation a.active {
  background-color: #badaef;
  color: white;
}
/* Кнопка выпадающего списка */
.dropbtn {
  background-color: #badaef;
  color: #0f1622;
  padding: 16px;
  font-size: 16px;
  border: none;
}
  
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #badaef;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  float: none;
}
  
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;;}

.slider{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 440px;
  background-color:rgb(35, 63, 77);
  color: white;
}

.slide{
  max-height: 355px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  color: white;
  }

.slide section{
  font-size: small;
}

.slide section a{
  font-size: small;
  color: white;
}

.slide section button {
    line-height: 1.5;
    width: auto;
}

.monitor{
  position:relative;
  width: 350px;
  height: 315px;
  margin: 20px 20px 20px 20px;
}

.monitor-edges{
  position: absolute;
  top: 0; 
  left: 0;
  z-index: 1;
}

.screen-pic{
  width: 334px;
  padding: 10px 10px 10px 10px;
  height: 211px;
}

.slider-navigation {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.slider-navigation article {
  font-size: small;
  display: inline-block;

 }

.slider-navigation h1{
  font-size: large;
}

.slider-navigation article:hover {
  background-color: #ddd;
  color: #0f1622;
}

.main-article{
  max-height: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}

.main-article-image{
  float: right;
  height: 50%;
  width: 50%;
  padding-left: 1%;
  padding-bottom: 1%;
}

.main-article h1{
  font-size: large;
  color: rgb(98, 98, 98);
}

.arch-confrm-links{
  margin-left: auto;
  margin-right: auto;
  float: right;
  font-size: small;
  color: rgb(98, 98, 98);
}

.arch-confrm-links a{
  color: rgb(98, 98, 98);
}

.news-panel{
  
  margin-left: auto;
  margin-right: auto;
}